.contact{
    text-align: center;
    background-color: #044179;

    &__formulario{
        border: 1px solid grey;
        padding: 2%;
        font-size: 1rem;
        color: white;

        &--inputText label{
            display: inline-block;
            margin: 0.65%;
        }
    }
}