.contact{
    text-align: center;
    background-color: #044179;

    &__formulario{
        width: 85%;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding: 2%;
        font-size: 1rem;
        color: white;
        background-color: #07549c;

        &--inputText label{
            display: inline-block;
            margin: 0.65%;
        }
    }
}