.offers{
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    color: gold;
    border: 1px solid transparent;

    &__offerContainer{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        margin: 3%;
        padding: 0 6px;
        color: white;
        border: thin solid gold;
        transition: transform 2s;
       /* cursor: pointer;*/
       height: 300px;

        &--imgPromo{
            width: 90%;
            height: 11rem;   
        }

        &--text{         
            font-size: 1rem;
            text-align: center;
            padding: 1rem 0;
        }
    }

  /*  &__offerContainer:hover {
       transform: scale(1.02);
        border: 2px solid gold;
    }*/
  }