
.packages{

  .card{
    margin: 3%;
  }

  &--img{
    width: 100%;
    height: 250px;   
  }

  @each $city in bariloche, rosario, mendoza, caba, MarDelPlata, 
                 CostaAtlantica, janeiro, buzios, salvador-de-bahia, 
                 natal-pipa, porto-galinhas, camboriu, espana,
                 barcelona-espana, londres, viajes-viena-austria-centro,
                 venecia, roma-italia-coliseo, viajes-turquia,
                 santorini-grecia, egipto-templo-philae, jardin-persa-israel-haifa {

    &--#{$city} { 
      content:url('../assets/img/#{$city}-min.jpg');
      background-size: 100% 250px;
    }
  }
}

