
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(135,222,181);
    background: linear-gradient(6deg, rgba(135,222,181,1) 0%, rgba(0,255,255,1) 30%, rgba(255,255,255,1) 60%);
     
    &__linkRedes{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__linkRedes>a{
        text-decoration: none; 
        color: gray;
        padding: .3rem;
        margin-bottom: 1%;
        margin-right: 1%;
        font-size: 1.3rem;

        transition: transform 2s;
    }

    &__linkRedes>a:hover {
        transform: scale(1.5);
    }
    
    &__correo{
        color: gray;
        font-size: 1.1rem;
        margin-top: 1%;
    }
}