.main{

    &--grid{
        display: grid;
   /*     grid-template-columns: 0.8fr 3.2fr; */
        background-color: #044179;
    }


    @include  mobile {
    
        &--grid{
            display: grid;
            grid-template-rows: 0.5fr 3.5fr;
            grid-template-columns: none; 
        }
    
    }
    
    @include tablet {
      
        &--grid{
            display: grid;
            grid-template-rows: 0.5fr 3.5fr;
            grid-template-columns: none; 
        }
    
    }

}