.main{

    &--grid{
        display: grid;
        background-color: #044179;
        padding-bottom: 2rem;
    }

    @include  mobile {
    
        &--grid{
            display: grid;
            grid-template-columns: none; 
        }
    }
    
    @include tablet {
      
        &--grid{
            display: grid;
            grid-template-columns: none; 
        }   
    }
}