.sidebar{

    background: rgb(0,255,255);
    background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(255,255,255,1) 86%);

    &--subtitles{
        font-size: 1.3rem;
        color: gray;
        text-align: center;
        letter-spacing: 0.2em;
        padding: 1rem 0;
    }

    &__options{
        display: flex;
        flex-direction: column;
        align-items:center;
        font-size: 1rem;
        color: grey;
        
        &--option{
            margin-bottom: 1rem;
            cursor: pointer;
        }
        
        &--option:hover{
            border-bottom: .3rem solid gray;
        }
    }

    @include tablet {
        &__options{
            flex-direction: row;   
            justify-content: space-around;
        }
    }
}